/* 背景 */
body {
    background: var(--background) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 根字体 */
html {
    color: rgb(44, 62, 80);
}

/* 行间距 */
p {
    line-height: 1.6;
}

/* 上标 */
sup {
    font-size: xx-small;
    color: #999;
}

/* 分割线 */
hr {
    margin-left: 4px;
    margin-right: 4px;
}

/* 未访问的链接 */
a:link {
    color: var(--link-color);
}

/* 已访问的链接 */
a:visited {
    color: var(--link-color);
}

/* 鼠标悬停链接 */
a:hover {
    color: var(--link-color-hover);
}

/* 已选择的链接 */
a:active {
    color: var(--link-color);
}

/* 黑幕模板配合CSS */
/* 源自萌娘百科，URL地址 https://zh.moegirl.org.cn/MediaWiki:Gadget-site-styles.css */
.heimu,
.heimu rt {
    background-color: #252525;
}

.heimu,
.heimu a,
a .heimu,
a.new .heimu,
span.heimu a.new,
span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited,
span.heimu a.mw-disambig,
span.heimu a.mw-redirect {
    transition: color 0.13s linear;
    color: #252525;
    /* NO TRANSPARENT!!! */
    text-shadow: none;
}

span.heimu:hover,
span.heimu:active {
    color: white;
}

span.heimu:hover a,
a:hover span.heimu {
    color: lightblue;
}

span.heimu:hover a:visited,
a:visited:hover span.heimu {
    color: #C5CAE9;
}

span.heimu:hover a.new,
a.new:hover span.heimu {
    color: #FCC;
}

span.heimu a.new:hover:visited,
a.new:hover:visited span.heimu {
    color: #EF9A9A;
}

span.heimu:hover a.extiw:visited,
a.extiw:visited:hover span.heimu {
    color: #D1C4E9;
}

/* 日志相关 */
summary {
    border: 1px solid #ccc !important;
    padding: 14px;
    border-radius: 16px !important;
}

details {
    border-bottom: 1px solid #ccc !important;
    padding: 14px;
    border-color: #f4433621 !important;
}

.right {
    float: right;
    margin: 5px;
}

.left {
    float: left;
    margin: 5px;
}

/* new year */
.fu {
    animation: move 5s linear infinite;
}

@keyframes move {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ul */
.head {
    font-size: 26px;
    margin-top: 12px;
}

.foot {
    color: var(--foot-color);
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* 信息框 来源萌娘百科https://commons.moegirl.org.cn/Template:Info*/
.common-box {
    padding: .2em .4em;
    border: 1px solid #ddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: #666 0 2px 3px;
    -moz-box-shadow: #666 0 2px 3px;
    border-radius: 10px;
    box-shadow: #666 0 2px 3px;
}

/* 普通页面 */

.title {
    background-color: var(--theme-color-secondary);
    border-radius: 5px;
    padding-top: 0;
    padding-bottom: 5px;
    margin-bottom: 1%;
}

#headimg {
    max-height: 80px;
}

#left {
    width: 12%;
    margin-top: 20px;
    top: 5px;
    float: left;

    @media (max-width: 800px) {
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
}

#left>div {
    width: 100%;
}

#article-block {
    width: 75%;

    @media (max-width: 800px) {
        width: 100%;
    }
}

.article {
    margin-left: 3px;
    margin-right: 3px;
}

main {
    width: 87%;
    float: left;

    @media (max-width: 800px) {
        width: 100%;
    }
}

#aside {
    width: 23%;
    margin-left: 1%;
    position: sticky;
    top: 5px;
    overflow: auto;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateX(-600px) scale(0.5);
    opacity: 0;

    @media (min-width: 800px) {
        transform: none;
        opacity: 1;
    }

    @media (max-width: 800px) {
        width: 98%;
        position: fixed;
        margin-left: 0;
        top: auto;
        bottom: 0;
        z-index: 15;
        height: 70%;
    }
}

#aside.active {
    transform: translateX(0) scale(1);
    display: block;
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgb(133, 114, 114);
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    width: 100%;
}


/* 来自萌娘百科 */
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
    padding: .2rem .2rem .2rem 1rem;
    color: rgb(44, 62, 80);
    font-weight: 700;
    position: relative;
}

h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    width: .25em;
    height: 70%;
    background-color: var(--theme-color);
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 1em;
}

*,
:before,
:after {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgb(0 0 0 / 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgb(147 197 253 / .5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
}

h1 {
    font-size: 2.25rem;
}

/* 居中图 */
.container {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    width: 90%;
}

/* 红色强调 */
.stress {
    color: red;
    font-size: larger;
}

/* 目录滚动条*/
.dir {
    display: block;
    height: calc((100vh - 80px - 6rem)/2);
    overflow: auto;
}

.circle-text {
    border: 1.5px solid red;
    color: red;
    font-size: 16px;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 28px;
    background-color: #FFF;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 12px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

@keyframes rt-fade-in-down {
    0% {
        opacity: 0;
        transform: translate(0, -20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.referbox {
    position: absolute;
    z-index: 100;
    max-width: 350px;
    background: #fff;
    color: #222;
    font-size: 13px;
    line-height: 1.5em;
    border: 1px solid #c8ccd1;
    border-radius: 3px;
    box-shadow: 0 15px 45px -10px rgb(0 0 0 / 30%);
    overflow-wrap: break-word;
    animation: rt-fade-in-down 0.2s ease forwards;
}

.tooltipTail {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    bottom: 0;
    left: 15px;
}

.tooltipTail {
    background: linear-gradient(to top right, #c8ccd1 50%, rgb(0 0 0 / 0%) 50%);
}

.tooltipTail,
.tooltipTail::after {
    position: absolute;
    width: 12px;
    height: 12px;
}

.referbox,
.tooltipContent {
    margin-bottom: -8px;
    padding-bottom: 16px;
}


.tooltipContent {
    padding: 8px 11px;
    position: relative;
    line-height: 1.6;
    box-sizing: content-box;
}

refer {
    padding-top: 7px;
}

/* 手机端目录悬浮窗 */
.content-botton {
    position: fixed;
    right: 0;
    bottom: 30%;
    z-index: 10;
    background-color: #fff;
    border: 0;
    border-radius: 99em 0 0 99em;
    box-shadow: 0 0 .5rem #0000004d;
    padding: 1rem 2rem 1rem 1rem;
    font-size: 1.5rem;
    color: var(--theme-color);
    transition: all .48s ease;
    margin-right: -10rem;

    @media (max-width: 800px) {
        margin-right: -1.5rem;
    }
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-flex;
    vertical-align: middle;
}

.icon svg {
    width: 100%;
    height: 100%;
    stroke-width: 2;
}

#float-toc-trigger:hover {
    margin-right: -0.01rem !important;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0006;
    z-index: 10;
    display: none;
}



.__button-1c6bqbn-eflsmd {
    --n-bezier: cubic-bezier(.4, 0, .2, 1);
    --n-bezier-ease-out: cubic-bezier(0, 0, .2, 1);
    --n-ripple-duration: .6s;
    --n-opacity-disabled: 0.5;
    --n-wave-opacity: 0.6;
    font-weight: 400;
    --n-color: rgba(46, 51, 56, .05);
    --n-color-hover: rgba(46, 51, 56, .09);
    --n-color-pressed: rgba(46, 51, 56, .13);
    --n-color-focus: rgba(46, 51, 56, .09);
    --n-color-disabled: rgba(46, 51, 56, .05);
    --n-ripple-color: #0000;
    --n-text-color: rgb(51, 54, 57);
    --n-text-color-hover: rgb(51, 54, 57);
    --n-text-color-pressed: rgb(51, 54, 57);
    --n-text-color-focus: rgb(51, 54, 57);
    --n-text-color-disabled: rgb(51, 54, 57);
    --n-border: 1px solid rgb(224, 224, 230);
    --n-border-hover: 1px solid #36ad6a;
    --n-border-pressed: 1px solid #0c7a43;
    --n-border-focus: 1px solid #36ad6a;
    --n-border-disabled: 1px solid rgb(224, 224, 230);
    --n-width: 28px;
    --n-height: 28px;
    --n-font-size: 14px;
    --n-padding: initial;
    --n-icon-size: 18px;
    --n-icon-margin: 6px;
    --n-border-radius: 28px;
}

.n-button {
    margin: 0;
    font-weight: var(--n-font-weight);
    line-height: 1;
    font-family: inherit;
    padding: var(--n-padding);
    height: var(--n-height);
    font-size: var(--n-font-size);
    border-radius: var(--n-border-radius);
    color: var(--n-text-color);
    background-color: var(--n-color);
    width: var(--n-width);
    white-space: nowrap;
    outline: none;
    position: relative;
    z-index: auto;
    border: none;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s var(--n-bezier), background-color .3s var(--n-bezier), opacity .3s var(--n-bezier), border-color .3s var(--n-bezier);
}

.n-button .n-button__icon {
    margin: var(--n-icon-margin);
    margin-left: 0;
    height: var(--n-icon-size);
    width: var(--n-icon-size);
    max-width: var(--n-icon-size);
    font-size: var(--n-icon-size);
    position: relative;
    flex-shrink: 0;
}

.n-button .n-button__icon .n-icon-slot {
    height: var(--n-icon-size);
    width: var(--n-icon-size);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-button .n-base-wave {
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-iteration-count: 1;
    animation-duration: var(--n-ripple-duration);
    animation-timing-function: var(--n-bezier-ease-out), var(--n-bezier-ease-out);
}

.n-base-wave {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
}

.n-button:not(.n-button--disabled):hover {
    background-color: var(--n-color-hover);
    color: var(--n-text-color-hover);
}

.sidenav-header-close {
    right: 5px;
    position: relative;
    top: 5px;
    float: right;
    display: none;

    @media (max-width: 800px) {
        display: block;
    }


}

/* prism自动换行 */
.line-numbers {
    white-space: pre-wrap !important;
}

/* 目录相关 */
.content-link div {
    color: rgb(44, 62, 80);
}

.catalog span .number {
    opacity: .5;
    font-size: 0.8rem;
    margin-right: 4px;
}

.catalog {
    font-size: 1.05rem;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.catalog:before {
    width: .25em;
    height: 110%;
    background-color: rgb(228, 227, 226);
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 1em;
}

.catalog-active span {
    color: var(--theme-color);
}

.catalog-active {
    background-color: var(--theme-color-secondary);
    border-radius: 3px;
}

/* 小字提示 */
.subtitle{
font-size: 0.8rem;
}

:root{
--background: #fcfdf8;
--link-color: #9cb480;
--link-color-hover: #82d622;
--theme-color: rgb(37, 180, 73);
--theme-color-secondary: rgb(185, 230, 200);
--foot-color: #ffb5b5;
}

/* 音乐播放器 */
.player-mid {
    height: 66px;
}
.bg {
    background: url(https://p1.music.126.net/obj/wo3DlcOGw6DClTvDisK1/3251788949/8f03/f45f/46a0/789ea2b91cc9e509dedb48aac5210163.png) no-repeat 0 9999px;
}
.player {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    width: 320px;
}
.f-pr {
    position: relative;
    zoom: 1;
}

.cover, .cover img {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px;
}
.cover {
    float: left;
    width: 90px;
    height: 90px;
}
.cover-sm {
    width: 66px;
    height: 66px;
}
.cover img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
}
.player-mid .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity = 40);
}
.player-mid .play-bg {
    position: absolute;
    left: 17px;
    top: 17px;
}
.play-bg {
    width: 32px;
    height: 32px;
    background-position: -68px -118px;
    cursor: pointer;
}
.play-bg:hover{background-position:-68px -167px;}
.f-hide, .js-hide {
    display: none !important;
}
.player-mid .pause-bg {
    position: absolute;
    left: 42px;
    top: 42px;
}
.pause-bg {
    width: 20px;
    height: 20px;
    background-position: 0 -60px;
    cursor: pointer;
}
.pause-bg:hover{background-position:0 -157px;}
.player-mid .ctrlBox {
    padding-top: 7px;
}
.ctrlBox {
    float: right;
    width: 200px;
    padding: 10px 10px 0 0;
    position: relative;
}
.m_t {
    position: relative;
    left: 0;
    top: 0;
    height: 36px;
    margin-bottom: 10px;
    line-height: 36px;
    padding-left: 24px;
    font-size: 14px;
    font-weight: normal;
    zoom: 1;
}
.m_t .logo {
    position: absolute;
    left: 0;
    top: 10px;
}
.m_t .mtitle {
    padding-top: 10px;
    line-height: 18px;
}
.logo {
    display: inline-block;
    width: 17px;
    height: 18px;
    background-position: 0 -132px;
    vertical-align: middle;
    cursor: pointer;
}
.player-mid .ctrlBox .bar {
    width: 192px;
}
.bar, .bar .played {
    position: relative;
    left: 0;
    top: 0;
    height: 2px;
    background: #cdcdcd;
}
.player-mid .time {
    position: absolute;
    color: #999;
    right: 10px;
    top: 46px;
    font-size: 11px;
}
.f-cb:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.bar .played, .bar .thumb {
    position: absolute;
    left: 0;
    top: 0;
}
.bar, .bar .played {
    position: relative;
    left: 0;
    top: 0;
    height: 3px;
    background: #cdcdcd;
}
.bar .thumb {
    right: -4px;
    left: auto;
    top: -3px;
    width: 8px;
    height: 8px;
    background-position: -92px -14px;
    cursor: pointer;
}
.bar .played {
    background: var(--theme-color);
}